@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Karla:ital,wght@0,200..800;1,200..800&display=swap'); 
*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
} 
.container{ 
    width: 80%; 
    margin: 0 auto; 
} 
 
.containers{ 
    width: 80%; 
    margin: 0 auto; 
    position: relative; 
} 
 
nav{ 
    padding: 20px; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
} 
.ul{ 
    display: flex; 
    gap: 30px; 
} 
ul{ 
    display: flex; 
    align-items: center; 
    gap: 20px; 
    list-style-type: none; 
} 
li a{ 
    color: #837D88; 
    font-family: Karla; 
    font-size: 13px; 
    font-weight: 700; 
    line-height: 15.2px; 
    letter-spacing: 1.5px; 
    text-align: center; 
    text-decoration: none; 
} 
.ul button{ 
    padding: 13px 29px; 
    background: none; 
    border-color: #201e21; 
    color: #2C2830; 
    /* border-color: #2C2830; */ 
} 
header{ 
    background-color:  #2D2641; 
    color: white; 
    position: relative; 
} 
.line{ 
    width: 150px; 
    height: 1px; 
    background-color: #fff; 
} 
.row{ 
    display: flex; 
    gap: 30px; 
    align-items: center; 
    padding-top: 100px; 
    padding-bottom: 150px; 
} 
h1{ 
    margin-top: 63px; 
    font-family: DM Serif Display; 
    font-size: 72px; 
    font-weight: 400; 
    line-height: 64px; 
    letter-spacing: -1px; 
    text-align: left; 
} 
p{ 
    margin-top: 20px; 
    font-family: Karla; 
    font-size: 16px; 
    font-weight: 400; 
    line-height: 26px; 
} 
.text button{ 
    /* padding: 13px 29px ; 
    background-color: none; 
    border: #2C2830; */ 
    margin-top: 30px; 
    padding: 13px 29px; 
    background: none; 
    border-color: #fff; 
    border-width: 2px; 
    color: white; 
 
 
    font-family: Karla; 
    font-size: 13px; 
    font-weight: 700; 
    line-height: 15.2px; 
    letter-spacing: 1.5px; 
    text-align: center; 
 
} 
 
.imd-header img{ 
    position: absolute; 
    top: 60px; 
    right: 20px; 
} 
.card{ 
    display: flex; 
    gap: 90px; 
    margin-top: 100px; 
} 
.cardss h3{ 
    margin-top: 32px; 
    font-family: DM Serif Display; 
    font-size: 28px; 
    font-weight: 400; 
    line-height: 38.39px; 
    letter-spacing: -0.3888888955116272px; 
} 
.cardss p{ 
    margin-top: 20px; 
    font-family: Karla; 
font-size: 16px; 
font-weight: 400; 
line-height: 26px; 
color: #837D88; 
} 
.lines{ 
    width: 150px; 
    height: 2px; 
    background-color: #C396C6; 
} 
main{ 
    margin-top:300px ; 
} 
.more img{ 
    display: none; 
} 
.imges img{ 
    display: none; 
} 
article{ 
    margin-top: 158px; 
    background-color: #2D2641; 
    color: white; 
    padding: 40px 81px; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
} 
article h1{ 
    font-family: DM Serif Display; 
font-size: 65px; 
font-weight: 400; 
line-height: 56px; 
letter-spacing: -0.7777777910232544px; 
text-align: left; 
 
} 
article button{ 
    margin-top: 30px; 
    padding: 13px 20px; 
    background: none; 
    border-color: #fff; 
    border-width: 2px; 
    color: white; 
 
 
    font-family: Karla; 
    font-size: 13px; 
    font-weight: 700; 
    line-height: 15.2px; 
    letter-spacing: 1.5px; 
    text-align: center; 
     
} 
footer{ 
    margin-top: 150px; 
    background: #FAFAFA; 
    padding-top:40px; 
} 
.rebb{ 
    padding: 20px; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
} 
.liner{ 
    height: 2px; 
    width: 100%; 
    background: #DADADA; 
} 
.h4 h4{ 
    font-family: Karla; 
font-size: 13px; 
font-weight: 700; 
line-height: 15.2px; 
letter-spacing: 1.5px; 
} 
.sos{ 
    margin-top: 40px; 
    padding-bottom: 126px; 
    display: flex; 
    align-items: center; 
    gap: 190px; 
} 
.h3-h4{ 
    color: #837D88; 
    margin-bottom: 40px; 
} 
 
@media (max-width:375px) { 
    .rebb{ 
        flex-direction: column; 
    } 
    .sos{text-align: center; 
        flex-direction: column; 
        gap: 40px; 
    } 
 
    article{ 
        flex-direction: column; 
    } 
    article h1{ 
        font-family: DM Serif Display; 
font-size: 40px; 
font-weight: 400; 
line-height: 40px; 
letter-spacing: -0.5555555820465088px; 
text-align: center; 
 
    } 
 
    .imd-header img{ 
        display: none; 
    } 
    .imges img{ 
        display: block; 
        width: 374px; 
    } 
    .container{ 
        width: 90%; 
        margin: 0 auto; 
    } 
    .ul{ 
        display: none; 
    } 
 
    .more img{ 
        display: block; 
    } 
    .rew{ 
        flex-direction: column; 
    } 
    .rew img{ 
        width: 100%; 
    } 
    .containers img{ 
        width: 100%; 
    } 
    .row{ 
        padding-top: 10px; 
    } 
    .containers{ 
        text-align: center; 
        flex-direction: column-reverse; 
    } 
    /* .imd-header img{ 
        width: 375px; 
    } */ 
    .text h1{ 
        font-family: DM Serif Display; 
    font-size: 48px; 
    font-weight: 400; 
    line-height: 48px; 
    letter-spacing: -0.6666666865348816px; 
    text-align: center; 
    } 
    .text p{ 
        font-family: Karla; 
font-size: 16px; 
font-weight: 400; 
line-height: 26px; 
text-align: center; 
    } 
    .line{ 
        display: none; 
    } 
    .lines{ 
        margin: 0 auto; 
    } 
    main, h1{ 
        font-family: DM Serif Display; 
font-size: 48px; 
font-weight: 400; 
line-height: 48px; 
letter-spacing: -0.6666666865348816px; 
text-align: center; 
    } 
    .card{ 
        flex-direction: column; 
    } 
 
    .cardss{ 
        text-align: center; 
    } 
 
}